
{% extends "base.html" %}

{% block page_title %} Done :) {% endblock %}

{% block head %}
  <script>
  function click_link() {
      document.getElementById("download-zip").click()
  }
  setTimeout(click_link, 1000)
  </script>
{% endblock %}

{% block content %}
  <pre style="white-space: pre-wrap;">
{{ output | safe }}
  </pre>
  {% if pres_folder is not none %}
    Presentations have been saved in
    <pre style="white-space: pre-wrap;">{{ pres_folder }}</pre>
    <br>
  {% endif %}
  {% if zip_path is not none %}
    The ZIP archive is available at
    <pre style="white-space: pre-wrap;">{{ zip_path }}</pre>

    Your download should have started automatically. Please, click
    <a id="download-zip" href="/zip/{{ zip_path }}" download>here</a>
    if it didn't.
  {% endif %}
{% endblock %}
