
{% extends "base.html" %}

{% block page_title %}Welcome to Povinator3000!{% endblock %}

{% block content %}
  <button class="mdl-button mdl-js-button mdl-button--primary"
    onclick="window.location = '/presentations'">
    <i class="material-icons">arrow_forward</i> Download Presentations
  </button>
  <br>
  <button class="mdl-button mdl-js-button mdl-button--primary"
    onclick="window.location = '/form'">
    <i class="material-icons">arrow_forward</i> Create Form
  </button>
{% endblock %}
